#header.block-clear
  %h1.inline-block
    - if @title == Coconut.config["wiki_name"]
      = @title
    - else
      = link_to Coconut.config["wiki_name"], "/"
      %span(style="font-weight: normal") &raquo;
      = @title