= haml :header, :layout => false

%h1= @title

- if @pages.empty?
  %p There ain't no pages yet, son. Why don'tcha go help your ma out and create one.
%ul
  - for page in @pages
    %li
      %a{:href => page["url"]}= page["title"]