!!! XML
!!!
%html
  %head
    %title== #{CoconutConfig["wiki_name"]}: #{@title}
    %link(rel="stylesheet" href="/stylesheets/master.css")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/jquery.min.js")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/delayed_observer.js")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/cookie.js")
    = content_for :head
  %body
    = yield