!!! XML
!!!
%html
  %head
    %title== Lost in Code Wiki: #{@title}
    %link(rel="stylesheet" href="/stylesheets/master.css")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/jquery.min.js")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/delayed_observer.js")
  %body
    = yield