/*
html {
   font-size: 100.01%
}
*/

body {
  font-family: Arial;
  /* bring text back up to something reasonable */
  font-size: 1.45em;
  /* setting line-height in pixels provides a consistent vertical rhythm */
  line-height: 20px;
  color: #333;
  margin-left: 3em;
  margin-right: 3em;
}

.error {
  color: red;
}

#header, #footer {
  text-align: right;
}

a {
  color: navy;
  text-decoration: none;
  border-bottom: 1px dotted navy
}
a:hover {
  /*border-bottom: 1px solid navy;*/
  border-bottom-style: solid
}
a:visited {
  color: gray;
  border-bottom-color: gray;
}

h1, h2 {
  letter-spacing: -1px
}

hr {
  color: silver;
  background-color: silver
}

pre {
  /*margin-left: 1em;*/
  background-color: #efefef;
  padding: 4px 9px;
  font-size: 0.9em;
  line-height: 1.4
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th, caption {
  border: 1px solid silver;
  padding: 2px 6px
}
td, th {
  font-size: 0.9em
}
th {
  background-color: #e5e5e5
}
caption {
  background-color: #dedede;
  font-weight: bold
}

form p.buttons input[type=button],
form p.buttons input[type=submit],
form p.buttons button {
  font-size: 0.9em;
}

.block-clear {
  overflow: hidden;
}
.clear {
  clear: both;
}

/* page */

.page_content .footnote {
  vertical-align: super;
  font-size: 0.8em
}

.page_content div.footnotes {
  font-size: 0.9em;
  color: gray
}

.page_contentdiv.footnotes p {
  margin: 0;
  display: inline;
}

.page_content ul ul, .page_content ol ol {
  margin-top: 0em;
  margin-bottom: 0.5em;
}