/*
html {
   font-size: 100.01%
}
*/

body {
  font-family: Arial;
  /* bring text back up to something reasonable */
  font-size: 1.45em;
  /* setting line-height in pixels provides a consistent vertical rhythm */
  line-height: 20px;
  color: #333;
  margin: 0;
}

a:not(.button) {
  color: #7C92C8;
  text-decoration: none;
  border-bottom: 1px solid #7C92C8
}
a:not(.button):hover {
  color: #2D558D;
  border-bottom-color: #2D558D;
}
*:not(#header, #footer) a:visited {
  color: #999;
  border-bottom-color: #999;
}
*:not(#header, #footer) a:visited:hover {
  color: #666;
  border-bottom-color: #666;
}

h1, h2 {
  letter-spacing: -1px
}

hr {
  color: silver;
  background-color: silver
}

pre {
  /*margin-left: 1em;*/
  background-color: #efefef;
  padding: 4px 9px;
  font-size: 0.9em;
  line-height: 1.4
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th, caption {
  border: 1px solid silver;
  padding: 2px 6px
}
td, th {
  font-size: 0.9em
}
th {
  background-color: #e5e5e5
}
caption {
  background-color: #dedede;
  font-weight: bold
}


/* layout */

ul.menu {
  float: right;
  margin: 1em 0;
}
ul.left.menu {
  float: left;
}
ul.menu li {
  padding-right: 0.5em;
}
ul.bull-sep.menu li:after {
  content: "•";
  padding-left: 0.2em;
}
ul.bull-sep.menu li.last:after {
  content: "";
}

#header, #footer {
  /*background-color: #FEFFB8;*/
  background-color: #F5F8FF;
  border-style: solid;
  /*border-color: #D4D5A7;*/
  border-color: #BDD1E0;
}

/*
#footer-inner {
  padding: 7px 20px;
}
*/

#header h1, #header ul.menu {
  margin: 10px 0;
}

.nav {
  text-align: right;
  float: right;
  /*
  position: relative;
  top: 3px;
  */
}

#header {
  /*border-radius: 0 0 5px 5px;*/
  /*border-width: 0 1px 1px 1px;*/
  border-bottom-width: 1px;
  margin-bottom: 2em;
  padding: 7px;
}

#footer {
  /*border-radius: 5px 5px 0 0;*/
  /*border-width: 1px 1px 0 1px;*/
  border-top-width: 1px;
  /*margin-top: 2em;*/
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  opacity: 0.9;
}

#header, #main, #footer-inner {
  padding-left: 25px;
  padding-right: 25px;
}

#main {
  /* leave space for the footer */
  padding-bottom: 70px;
}

/*
#footer a.button {
  border: none;
  color: #666;
}
*/

/* page */

.page_content .footnote {
  vertical-align: super;
  font-size: 0.8em
}

.page_content div.footnotes {
  font-size: 0.9em;
  color: gray
}

.page_content div.footnotes p {
  margin: 0;
  display: inline;
}

.page_content ul ul,
.page_content ol ol,
.page_content ul ol,
.page_content ol ul {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

/* other stuff */

.error {
  color: red;
}

.block-clear {
  overflow: hidden;
}
.clear {
  clear: both;
}

ul.menu {
  list-style-type: none;
}
ul.menu li {
  display: inline;
  float: left;
}

/* simply buttons overrides */

button.submit span span,
a.submit span span,
a.submit:link span span,
a.submit:visited span span {
  padding-left: 30px;
}

button.cancel span span,
a.cancel span span,
a.cancel:link span span,
a.cancel:visited span span {
  padding-left: 30px;
}