/*
html {
   font-size: 100.01%
}
*/

body {
  font-family: Arial;
  /* bring text back up to something reasonable */
  font-size: 1.45em;
  /* setting line-height in pixels provides a consistent vertical rhythm */
  line-height: 20px;
  color: #333;
  margin-left: 3em;
  margin-right: 3em;
}

.error {
  color: red;
}

#header, #footer {
  text-align: right;
}

a {
  color: navy;
  text-decoration: none;
  border-bottom: 1px dotted navy
}
a:hover {
  /*border-bottom: 1px solid navy;*/
  border-bottom-style: solid
}
a:visited {
  color: gray;
  border-bottom-color: gray;
}

h1, h2 {
  letter-spacing: -1px
}

hr {
  color: silver;
  background-color: silver
}

pre {
  /*margin-left: 1em;*/
  background-color: #efefef;
  padding: 4px 9px;
  font-size: 0.9em;
  line-height: 1.4
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th, caption {
  border: 1px solid silver;
  padding: 2px 6px
}
td, th {
  font-size: 0.9em
}
th {
  background-color: #e5e5e5
}
caption {
  background-color: #dedede;
  font-weight: bold
}

form p.buttons input[type=button],
form p.buttons input[type=submit],
form p.buttons button {
  font-size: 0.9em;
}

.block-clear {
  overflow: hidden;
}
.clear {
  clear: both;
}

/* page form */

#page_form #textarea_area.horiz,
#page_form #preview_area_wrapper.horiz {
  /*margin: 1em 0;*/
  float: left;
  width: 50%;
}
#page_form #textarea,
#page_form #preview_area_wrapper.horiz #preview_area {
  height: 400px
}
#page_form #textarea_area.vert #textarea {
  width: 100%;
}
#page_form #textarea_area.horiz #textarea {
  width: 95%;
}
#page_form #preview_area {
  border: 1px solid #F2DDDF;
  background: url(/images/draft.png);
  position: relative;
}
#page_form #preview_area_wrapper.horiz #preview_area {
  overflow-x: hidden;
  overflow-y: auto;
}
#page_form #preview_area_wrapper.horiz .ifvert {
  display: none;
}
#page_form #preview {
  margin: 10px;
}
#page_form .controls {
  font-size: 0.9em;
}
#page_form #preview_area #preview_loading {
  position: fixed;
  background-color: #FCF159;
  font-weight: bold;
  font-size: 0.8em;
  padding: 3px 7px;
  width: 100px;
  top: 0;
  right: 5%;
  text-align: center;
  -moz-border-radius: 0 0 6px 6px;
}

/* page view */

.footnote {
  vertical-align: super;
  font-size: 0.8em
}
div.footnotes {
  font-size: 0.9em;
  color: gray
}
div.footnotes p {
  margin: 0;
  display: inline;
}